* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: rgb(226, 229, 231);
}

.topBar {
  position: fixed;
  width: 100vw;
  height: 6vh;
  background: rgb(15, 180, 166);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    position: absolute;
    font-weight: 600;
    font-size: 24px;
    color: white;
  }
}

#main {
  background-color: rgb(226, 229, 231);
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 6vh;

  .contentTitle {
    position: relative;
    font-size: 24px;
    left: 50px;
    top: 2vh;
  }
  .newButton {
    position: relative;
    float: right;
    right: 5vw;
    background-color: rgb(15, 180, 166);
    color: white;
    border-radius: 20px;
    padding: 10px;
    top: -15px;
    border: none;
    outline: none;
    width: 140px;
    font-weight: bold;
    cursor: pointer;
  }

  .newButton:hover {
    box-shadow: 0px 5px 15px rgb(182, 182, 182);
  }

  .loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
  }
  .formContainer input[type="text"],
  .formContainer input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type="text"]:focus,
  .formContainer input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #cc0000;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }

  #container {
    position: relative;
    background-color: white;
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 10px;
    top: 5vh;

    #cards {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      div {
        top: 5vh;
        position: relative;
        justify-content: center;
        align-items: center;
        background-color: rgb(36, 202, 161);
        border-radius: 15px;
        padding: 20px 80px;
        max-width: 320px;
        max-height: 360px;
        margin: 15px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: white;
      }
      .card {
        top: 5vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(36, 202, 161);
        border-radius: 15px;
        padding: 120px;
        max-width: 120px;
        max-height: 300px;
        margin: 15px;
        text-align: center;

        h1 {
          font-size: 36px;
          padding: 10px;
        }
        h2 {
          font-size: 20px;
          padding: 10px;
          white-space: nowrap;
        }
        h3 {
          font-size: 14px;
          padding: 10px;
          white-space: nowrap;
        }
      }
    }
  }
}
